*{
    list-style: none;
    
}
body{
    font-family: 'CircularStd', sans-serif;
    list-style: none;
    min-height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
}
.header{
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
}
#header-img{
    margin: 5px 0px 0px 5px;
}
#nav-bar{
    display: flex;
    flex-wrap: wrap;
    
}
.nav-link{
    margin: 0px 20px;
    text-decoration: none;
    color:#034aa1;
}
button{
    display: inline-block;
    background: #034aa1;
    color:white;
}
.nav-link:hover{
    color:rgb(14, 224, 95);
}
.nav-link:hover button{
    background: #034aa1;
    color: white;
    outline: 1px solid whitesmoke;
}

.header .nav-link {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .nav-link {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  @media only screen and (max-width:768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .nav-link {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
.hero-image {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    color: #034aa1;
}
p{
    padding: 10px;
}
.row{
    margin: 15px;
    padding: 20px;
}
.col-md-4{
    margin: 20px;
  }
 .col-md-4 img{
     max-width: 100%;
     height: auto;
  }
input{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    outline: none;
}
.form-control{
   background:gainsboro;
}
label{
    display:block;
    margin: 5px;
    background:none;
}
select{
    margin: 5px;
    padding: 5px;
}
#interest-form{
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    flex-flow: column wrap;
    font-size: 18px;
    padding: 20px;
    background: #034aa1;
    color: white;
}
#calculate{
    display: block;
    padding: 8px;
    margin: 5px;
}
footer {
    background-color:white;
    color: #034aa1;
    bottom: 0;
    margin: 0;
  }
footer a {
text-decoration: none;
color: #034aa1;
}  
.ft-main {
display: flex;
flex-wrap: wrap;
}
@media only screen and (min-width: 480px) {
.ft-main {
    justify-content: space-evenly;
}
}
@media only screen and (min-width: 1200px ) {
.ft-main {
    justify-content: space-around;
}
}
.ft-legal-list {
width: 100%;
text-align: center;
background-color: white;
margin: 0;
}